@media (max-width: 1142px) {

    .cab a {
        margin: 0em 0em 0em 1em;
    }

    .content {
        height: 100%;
    }

    .info_perf {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        gap: 3em;
        padding: 3em 2em;
    }

    .info_perf .perfil img {
        max-width: 30em;
        max-height: 30em;
        height: 100%;
        width: 100%;
    }

    .info,
    .perfil {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projtitle {
        align-items: center;
        margin-bottom: 1em;
    }

    .projetos {
        padding: 2em 1em;
    }

    .projetos .item img {
        border-radius: 5px;
        height: 100%;
        width: 100%;
        transition: filter 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    .projetos .lista {
        width: 100%;
        margin: 0;
        gap: 5em 2em;
    }

    .projetos .item {
        overflow: visible;
    }

    .projetos .item:hover {
        border: solid 2px var(--dest);
        box-shadow: inset 0 0 0.2em 0 var(--dest), 0 0 0.2em 0 var(--dest);
    }

    .projetos .item:hover img {
        filter: blur(0);
        opacity: 1;
    }

    .projetos .item .text {
        color: var(--dest);
        position: absolute;
        font-size: 1.1em;
        text-align: center;
        opacity: 1;
        z-index: 1;
        transition: opacity 0.3s ease-in-out;
        transform: translateY(6.1em);
    }

}