body {
    font-family: var(--ff);
    font-weight: 400;
    color: var(--text-color);
    background-color: var(--bg);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.content {
    height: 100vh;
    padding: 0 5em;
}


.title {
    text-transform: uppercase;
    font-size: var(--fs_title);
    color: var(--fc_title);
    font-weight: 700;
}
