body {
  font-family: var(--ff);
  color: var(--text-color);
  background-color: var(--bg);
}

section {
  gap: 5em;
}

.layout {
  max-width: 1080px;
  margin: auto;
  height: 100vh;
}

.title {
  text-transform: uppercase;
  font-size: var(--fs_title);
  color: var(--fc_title);
  font-weight: 700;
  margin-bottom: 0.5em;
}

.dest {
  color: var(--dest);
}
