body {
  font-family: var(--ff);
  color: var(--text-color);
  background-color: var(--bg);
}

section {
  gap: 5em;
}

.title {
  text-transform: uppercase;
  font-size: var(--fs_title);
  color: var(--fc_title);
  font-weight: 700;
  margin-bottom: 0.5em;
}

.dest {
  color: var(--dest);
}
